<div class="banner">
  <div class="container">
    <h4>Cocktail Recipes</h4>
    <p>There's a drink for every mood or occasion. Find your favorite cocktail recipes below. Or think outside the glass
      and try a brand new drink. Your new favorite could be a shake or stir away. </p>
  </div>
</div>
<!-- PAGE CONATINER -->
<div class="container">
  <!-- LOADING SPINNER -->
  <div *ngIf="!loaded" class="d-flex justify-content-center loader-margin spinner-border text-primary" style="width: 5rem; height: 5rem;">
    <div *ngIf="!loaded" class="sr-only"></div>
  </div>
  <!-- PAGE CONTENT -->
  <div *ngIf="loaded">
    <!-- DRINKS BY SPIRIT -->
    <div class="row bottom-buffer">
      <h2 class="drink-center mb-5"><strong>RECIPES BY SPIRIT</strong></h2>
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="card bg-none transform-on-hover">
            <a class="lightbox" routerLink="category/gin">
              <img class="card-img-top"
                src="https:\/\/www.thecocktaildb.com\/images\/media\/drink\/rhhwmp1493067619.jpg">
            </a>
            <div class="card-body">
              <h6 class="drink-center"><strong>GIN</strong></h6>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card bg-none transform-on-hover">
            <a class="lightbox" routerLink="category/tequila">
              <img class="card-img-top"
                src="https:\/\/www.thecocktaildb.com\/images\/media\/drink\/xxyywq1454511117.jpg">
            </a>
            <div class="card-body">
              <h6 class="drink-center"><strong>TEQUILA</strong></h6>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card bg-none transform-on-hover">
            <a class="lightbox" routerLink="category/vodka">
              <img class="card-img-top" src="https://www.thecocktaildb.com//images//media//drink//ttsvwy1472668781.jpg">
            </a>
            <div class="card-body">
              <h6 class="drink-center"><strong>VODKA</strong></h6>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card bg-none transform-on-hover">
            <a class="lightbox" routerLink="category/champagne">
              <img class="card-img-top" src="https://www.thecocktaildb.com//images//media//drink//eaag491504367543.jpg">
            </a>
            <div class="card-body">
              <h6 class="drink-center"><strong>CHAMPAGNE</strong></h6>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card bg-none transform-on-hover">
            <a class="lightbox" routerLink="category/bourbon">
              <img class="card-img-top"
                src="https:\/\/www.thecocktaildb.com\/images\/media\/drink\/uwvyts1483387934.jpg">
            </a>
            <div class="card-body">
              <h6 class="drink-center"><strong>BOURBON</strong></h6>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card bg-none transform-on-hover">
            <a class="lightbox" routerLink="category/rum">
              <img class="card-img-top" src="https://www.thecocktaildb.com//images//media//drink//1sqm7n1485620312.jpg">
            </a>
            <div class="card-body">
              <h6 class="drink-center"><strong>RUM</strong></h6>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- NEWEST RECIPES -->
    <div class="row bottom-buffer">
      <h2 class="drink-center mb-2"><strong>Newest Recipes</strong></h2>

      <div id="slide" class="carousel slide" data-ride="carousel">
        <div class="button-group">
          <a href="#slide" class="btn btn-outline-secondary prev" data-slide="prev"><i
              class="fas fa-chevron-left"></i></a>
          <a href="#slide" class="btn btn-outline-secondary next" data-slide="next"><i
              class="fas fa-chevron-right"></i></a>
        </div>

        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div *ngFor="let drink of newestDrinks  | slice:0:3;" class="col-lg-4">
                <div class="card bg-primary text-white mb-3">
                  <div class="card-header">{{drink.strDrink}}</div>
                  <a routerLink="drink/{{ drink.idDrink }}">
                    <img (click)="chooseDrink(drink.idDrink)" style="width: 100%; display: block;"
                      src="{{drink.strDrinkThumb}}" alt="Card image">
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="row">
              <div *ngFor="let drink of newestDrinks  | slice:4:7;" class="col-sm-12 col-lg-4">
                <div class="card bg-primary text-white mb-3">
                  <div class="card-header">{{drink.strDrink}}</div>
                  <a routerLink="drink/{{ drink.idDrink }}">
                    <img (click)="chooseDrink(drink.idDrink)" style="width: 100%; display: block;"
                      src="{{drink.strDrinkThumb}}" alt="Card image">
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="row">
              <div *ngFor="let drink of newestDrinks  | slice:7:10;" class="col-sm-12 col-lg-4">
                <div class="card bg-primary text-white mb-3">
                  <div class="card-header">{{drink.strDrink}}</div>
                  <a routerLink="drink/{{ drink.idDrink }}">
                    <img (click)="chooseDrink(drink.idDrink)" style="width: 100%; display: block;"
                      src="{{drink.strDrinkThumb}}" alt="Card image">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- POPULAR DRINKS -->
    <h2 class="drink-center mb-5"><strong>Popular Drinks</strong></h2>

    <div class="row bottom-buffer">

      <div *ngFor="let drink of drinks" class="col-md-6 col-lg-4">
        <div class="card bg-none border-0 transform-on-hover">
          <a class="lightbox" routerLink="drink/{{ drink.idDrink }}">
            <img (click)="chooseDrink(drink.idDrink)" class="card-img-top" src="{{ drink.strDrinkThumb }}">
          </a>
          <div class="card-body">
            <h6 class="drink-center"><strong>{{ drink.strDrink }}</strong></h6>
          </div>
        </div>
      </div>
    </div>
  </div>

</div> <!-- END OF PAGE CONTAINER -->

<footer>
  <p>Website built by <a href="https://seanromerokelly.com/">Sean Romero Kelly</a></p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>