.view {
    overflow-y: auto;
    max-height: 200px;
}

.card-header i {
    font-size: 22px;
    cursor: pointer;
    padding: 0px 10px;
    float: right
}

i {
    cursor: pointer;
}


.card-footer  {
    height: 50px;
}

.card-footer i {
    font-size: 22px;
    float: right;
}

.ingredients-area {
    padding: 3px !important;
}

.ingredients-area ul {
    margin: 0  !important;
    padding: 0  !important;
}

.ingredients-area li, i {
    list-style-type: none ;
    display: inline;
}

.list-group {
    display: block !important;
}

.step {
    display: inline-block;
    height: 25px;
    width: 25px;
    line-height: 25px;
    border-radius: 30px;
    background-color: #000;
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 0px 9px;
}

.step-wrap {
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
}

.add {
    position: relative;
    left: 2px;
}

.ingredient-list li {
    padding: 5px;
}

.deleteStep {
    font-size: 22px;
    color: red;
}

.list-header {
    position: relative;
}

.directions-container {
    overflow: hidden;
}

.pad {
    padding: 0px 8px;

}

.directions-container {
    padding: 0px 8px;
}