
<div *ngIf="selectedRecipe" class="card box mb-3 mb-4">
  <div>
    <div class="card-header">
      {{ selectedRecipe.title }}
      <i (click)="deleteRecipe(selectedRecipe)" class="fas fa-trash-alt pull-right event"></i>
      <i data-toggle="modal" data-target="#editModal" class="fas fa-edit pull-right event"></i>
    </div>
    <div class="card-body recipe-area">
      <div class="ingredients-area">
        <h5>Ingredients</h5>
        <hr>
        <ul class="ingredient-list" *ngFor="let ingredient of selectedRecipe.ingredients">
          <i class="far" (click)="ingredient.checked = !ingredient.checked" [ngClass]="ingredient.checked ? 'fa-check-square' : 'fa-square'"></i>
          <li>{{ ingredient.title }}</li>
        </ul>
        <br>
        <h5>Directions</h5>
        <hr>
        <ul *ngFor="let direction of selectedRecipe.directions; let i = index">
          <div class="step-wrap">
                <span class='step'>{{ i + 1 }}</span>
                <p class="directions-container">
                  <li class="directions"> {{ direction }}</li>
                </p>
          </div>
        </ul>
      </div>
    </div>
  </div>
<br>

<!-- Add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a Recipe</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #recipeForm="ngForm" (ngSubmit)="onSubmit(this.recipe)">
        <div class="modal-body">

          <div class="form-group">
            <label for="exampleFormControlInput1">Recipe</label>
            <input 
              type="text" 
              class="form-control" 
              name="title"
              [(ngModel)]="recipe.title"              
              placeholder="Recipe Name" 
              #recipeName="ngModel"
              required
              minlength="2"
            >
          </div>
          <div class="form-group">
            <label>Ingredients</label>
            <div class="input-group mb-3">
              <input 
                type="text" 
                class="form-control" 
                name="ingredient"
                [(ngModel)]="recipe.ingredient"
                placeholder="Add an ingredient" 
                #ingredientName="ngModel" 
                required
                minlength="2"
                (keyup.enter)="addIngredient(recipe.ingredient)"
              >
              <div class="input-group-append">
                <button [disabled]="ingredientName.errors" class="btn btn-outline-secondary" (click)='addIngredient(recipe.ingredient)' type="button">Add</button>
              </div>
            </div>
          </div>
          <ul *ngFor="let ingredient of recipe.ingredients" class="list-group">
            <li class="list-group-item">{{ ingredient.title }}</li>
          </ul>
          <div class="form-group mt-3">
            <label>Directions</label>
            <div class="input-group mb-3">
              <input 
                type="text" 
                class="form-control" 
                name="direction"
                [(ngModel)]="recipe.direction"
                placeholder="Add a step" 
                #directionName="ngModel" 
                required
                minlength="2"
                (keyup.enter)="addStep(recipe.direction)"
              >
              <div class="input-group-append">
                <button [disabled]="directionName.errors" (click)="addStep(recipe.direction)" class="btn btn-outline-secondary" type="button">Add</button>
              </div>
            </div>
          </div>
          <ul *ngFor="let step of recipe.directions; let i = index" class="list-group">
            <li class="list-group-item">{{ step }}</li>
          </ul>
        </div>
        <div class="modal-footer">
          <span (click)="clearRecipe()"><button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button></span>
          <button type="submit" [disabled]="!validateForm()" class="btn btn-primary">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Edit Modal -->
<div *ngFor="let recipe of recipes">
  <div *ngIf="selectedRecipe == recipe">
    <div class="modal fade" id="editModal" tabindex="" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Recipe</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form (submit)="onSubmit($event)" (keyup.enter)="onSubmit($event)">
            <div class="modal-body">
              <div class="form-group">
                <label for="exampleFormControlInput1">Recipe Title</label>
                <input type="text" class="form-control" placeholder="{{ selectedRecipe.title }}" [(ngModel)]="selectedRecipe.title"
                  name="title">
              </div>
              <div class="form-group">
                <label>Ingredients</label>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Add an ingredient" name="ingredient"
                    (keyup.enter)='editAddIngredient(ingredient)' #ingredient>
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)='editAddIngredient(ingredient)' type="button">Add</button>
                  </div>
                </div>
              </div>
              <div *ngFor="let item of selectedRecipe.ingredients; let i = index;" class="input-group mb-3">
                <div class="input-group-prepend">
                  <span (click)="deleteIngredient(item)" class="input-group-text">
                    <i class="fas fa-times deleteStep"></i>
                  </span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="selectedRecipe.ingredients[i].title" name="ingredient{{i}}">
              </div>
              <div class="form-group mt-3">
                <label>Directions</label>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Add an step" name='step' (keyup.enter)="editAddStep(step)"
                    #step>
                  <div class="input-group-append">
                    <button (click)="editAddStep(step)" class="btn btn-outline-secondary" type="button">Add</button>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3" *ngFor="let step of selectedRecipe.directions; let index = index; trackBy:trackByFn">
                <div class="input-group-prepend">
                  <span (click)="deleteStep(step)" class="input-group-text">
                    <i class="fas fa-times deleteStep"></i>
                  </span>
                </div>
                <textarea class="form-control" [(ngModel)]="selectedRecipe.directions[index]" name="step{{i}}"></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal">Apply</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>