* {
    outline: none !important;
}

a {
    cursor: pointer;
}
.event {
    font-size: 1.2rem !important;
}

.drink-center {
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
}

.loader-margin {
    margin-bottom: 600px;
    margin-right: auto;
    margin-left: auto;
} 

