<div class="container">
  <br>
  <a (click)="backClick()" class="btn btn-light btn-sm mb-3">Back</a>
  <div *ngIf="!loaded" class="d-flex justify-content-center loader-margin spinner-border text-primary" style="width: 5rem; height: 5rem;">
    <div *ngIf="!loaded" class="sr-only"></div>
  </div>
  <h2 class="drink-center mb-5"><strong>Non Alcoholic Drinks</strong></h2>

  <div *ngIf="loaded">
    <div class="row">
      <div *ngFor="let drink of fullDrinks; let i = index" class="col-lg-6">
        <div class="card">
          <div class="row">
            <div class="col-lg-6">
              <a (click)="changePage(drink.idDrink)">
                <img class="card-img-top" src="{{drink.strDrinkThumb}}" alt="Card image cap">
              </a>
            </div>
            <div class="col-lg-4 card-body">
              <h5>{{ drink.strDrink }}</h5>
              <span class="badge badge-pill badge-primary">{{ drink.strAlcoholic }}</span>
              <span *ngIf=" drink.strIngredient2 == 'Gin'" class="badge badge-pill badge-primary">{{ drink.strIngredient2 }}</span>
              <span class="badge badge-pill badge-primary">{{ drink.strCategory }}</span>
            </div>
          </div>
        </div>
        <br>
      </div>
      <div class="col-lg-6 right-style" *ngIf="i%2 == 0">
        <div class="card card-body">
          <img class="card-img-top" src="{{drink.strDrinkThumb}}" alt="Card image cap">
        </div>
      </div>
    </div>
  </div>
</div>